@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  height: unset;
  overflow-x: auto;
  overflow-y: scroll;
  line-height: 1;
  font-family: "-apple-system", BlinkMacSystemFont, "Helvetica Neue",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.5px;
}

.home-right {
  left: calc(50vw - 512px);
}

@media only screen and (min-width: 1024px) {
  .home-center {
    position: relative;
    margin: 0 0 0 calc(50vw - 1px);
    border-width: 0 1px;
    border-style: solid;
    border-color: #e1e1e1;
  }
}

@media only screen and (min-width: 421px) and (max-width: 1023px) {
  .home-center {
    position: relative;
    border-width: 0 1px;
    border-style: solid;
    border-color: #e1e1e1;
  }
}

.home-center {
  min-height: calc(100vh - env(safe-area-inset-top));
  background-color: #fff;
  width: 100%;
  max-width: 422px;
  margin-top: 0;
  margin-top: env(safe-area-inset-top);
}

.safe-area-top {
  height: env(safe-area-inset-top);
}

.view {
  padding-bottom: calc(56px + env(safe-area-inset-bottom));
}

#app {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .header-in-main {
    left: calc(50vw + 420px);
  }
}

@media only screen and (min-width: 421px) and (max-width: 1023px) {
  .header-in-main {
    left: calc(50vw + 210px);
  }
}

@media only screen and (max-width: 420px) {
  .header-in-main {
    right: 0px;
  }
}

.header-in-main {
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.hero-title {
  --gradient-color-1: #e4e1e1;
  --gradient-color-2: #6a13f4;
  --gradient-color-3: #7038ee;
  --gradient-color-4: #cccccc;
}
.hero-title .hero-container .item-container .item-title-container {
  margin-top: -16px;
  position: relative;
}
.hero-title .hero-container .item-container .item-title-container .item-title,
.hero-title
  .hero-container
  .item-container
  .item-title-container
  .item-title-overlay {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 100px;
  font-weight: 900;
  margin: 0;
  line-height: 1.3em;
  letter-spacing: -4px;
}
.hero-title
  .hero-container
  .item-container
  .item-title-container
  .item-title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding-right: 30px;
  height: 100%;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero-title .hero-container .item-container.process-step-1 .item-title-overlay {
  background-image: linear-gradient(
    90deg,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  animation: animated-gradient-title-1 3s infinite;
}
.hero-title .hero-container .item-container.process-step-2 .item-title-overlay {
  background-image: linear-gradient(
    90deg,
    var(--gradient-color-2),
    var(--gradient-color-3)
  );
  animation: animated-gradient-title-2 3s infinite;
}
.hero-title .hero-container .item-container.process-step-3 .item-title-overlay {
  background-image: linear-gradient(
    90deg,
    var(--gradient-color-3),
    var(--gradient-color-1)
  );
  animation: animated-gradient-title-3 3s infinite;
}
@keyframes animated-gradient-title-1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}
@keyframes animated-gradient-title-2 {
  0%,
  16.667%,
  66.667%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
}
@keyframes animated-gradient-title-3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}

.hero-button.q-shadow {
  box-shadow: 0 4px 0 0 #6c4298;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-200 {
  transition-duration: 200ms;
}

.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
