@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  height: unset;
  overflow-x: auto;
  overflow-y: scroll;
  line-height: 1;
  font-family: "-apple-system", BlinkMacSystemFont, "Helvetica Neue",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.5px;
}

.home-right {
  left: calc(50vw - 512px);
}

@media only screen and (min-width: 1024px) {
  .home-center {
    position: relative;
    margin: 0 0 0 calc(50vw - 1px);
    border-width: 0 1px;
    border-style: solid;
    border-color: #e1e1e1;
  }
}

@media only screen and (min-width: 421px) and (max-width: 1023px) {
  .home-center {
    position: relative;
    border-width: 0 1px;
    border-style: solid;
    border-color: #e1e1e1;
  }
}

.home-center {
  min-height: calc(100vh - env(safe-area-inset-top));
  background-color: #fff;
  width: 100%;
  max-width: 422px;
  margin-top: 0;
  margin-top: env(safe-area-inset-top);
}

.safe-area-top {
  height: env(safe-area-inset-top);
}

.view {
  padding-bottom: calc(56px + env(safe-area-inset-bottom));
}

#app {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .header-in-main {
    left: calc(50vw + 420px);
  }
}

@media only screen and (min-width: 421px) and (max-width: 1023px) {
  .header-in-main {
    left: calc(50vw + 210px);
  }
}

@media only screen and (max-width: 420px) {
  .header-in-main {
    right: 0px;
  }
}

.header-in-main {
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
